:root {
  --main: #fff;
  --shearch: #e2e8f0;
  --letter: #222;
  --sidebar: #1992d4;
  --lines: #f0b429;
  --shadow: #11111165;

  --hover-effect: 0.7;

  --font-family: "Roboto", sans-serif;
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--letter);
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "slidebar nav"
    "slidebar body"
    "slidebar body";
}

/* SIDEBAR */
.sidebar-container {
  grid-area: slidebar;

  display: grid;
  align-content: start;
  align-items: start;
  gap: 50px;

  background-color: var(--sidebar);
  color: var(--main);
  font-size: x-large;

  padding: 20px 0 0 20px;
}

.slidebar-part {
  display: grid;
}

.slidebar-part a {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 10px 0;

  color: var(--main);
  text-decoration: none;
}

.slidebar-part a:hover {
  opacity: var(--hover-effect);
  border-bottom: 3px solid var(--main);
}

.slidebar-part img {
  width: 30px;
}

/* NAV */
.nav-container {
  grid-area: nav;

  display: grid;
  gap: 20px;

  z-index: 1;
  padding: 20px;
  box-shadow: 0 3px 3px var(--shadow);
}

.nav-part2,
.nav-part1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 50px;
}

.shearch {
  flex: 0.8;

  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;

  background-color: var(--shearch);
  border: none;
}

.nav-part2-profile,
.nav-part1-profile {
  border-radius: 50px;
  margin-right: 10px;
  width: 50px;
}

.nav-part1 i:first-of-type {
  font-size: 20px;
}

.nav-part1 i:last-of-type {
  margin-left: auto;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.nav-part1 i:last-of-type:hover {
  color: var(--sidebar);
}

.nav-part1-name {
  font-weight: bolder;
}

.nav-part1-profile {
  cursor: pointer;
}

.nav-part1-profile:hover {
  opacity: var(--hover-effect);
}

.nav-part2-profile {
  width: 100px;
  margin-right: 20px;
}

.welcome-name p {
  font-weight: bold;
}

.button:first-of-type {
  margin-left: auto;
}

.button {
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 20px;

  background-color: var(--sidebar);
  color: var(--main);
  border: none;

  font-size: 1.3em;

  cursor: pointer;
}

.button:last-of-type {
  margin-right: 0;
}

.button:hover {
  opacity: var(--hover-effect);
}

/* BODY */
.body {
  grid-area: body;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "projects announcements" "projects trendings";

  background-color: var(--shearch);
}

.body > div {
  padding: 50px 20px 0 20px;
}

.title {
  margin-bottom: 15px;
}

/* PROJECTS */
.projects-container {
  grid-area: projects;
}

.projects {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--main);
  padding: 20px;
  border-radius: 15px;

  border-left: 10px solid var(--lines);
}

.project-icons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.project-icons i {
  cursor: pointer;
}

.project-icons i:hover {
  color: var(--lines);
}

/* ANNOUNCEMENTS */
.announcements-container {
  grid-area: announcements;
}

.announcements {
  display: grid;
  gap: 20px;

  background-color: var(--main);
  padding: 40px 20px;
  border-radius: 15px;
}

.announcement {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--letter);
  cursor: pointer;
}

.announcement:hover {
  opacity: var(--hover-effect);
}

.announcement:last-of-type {
  padding-bottom: 0;
  border: none;
}

/* TRENDINGS */
.trendings-container {
  grid-area: trendings;
}

.trendings {
  display: grid;
  gap: 20px;

  background-color: var(--main);
  padding: 20px;
  border-radius: 15px;
}

.trendings img {
  width: 50px;
}
