:root {
  --main: #fff;
  --shearch: #e2e8f0;
  --sidebar: #1992d4;
  --lines: #f0b429;
  --shadow: #11111165;

  --font-family: "Roboto", sans-serif;
}

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "slidebar nav"
    "slidebar body"
    "slidebar body";
}

/* SIDEBAR */
.sidebar-container {
  grid-area: slidebar;

  display: grid;
  align-content: start;
  align-items: start;
  gap: 50px;

  background-color: var(--sidebar);
  color: var(--main);
  font-size: x-large;
}

.slidebar-part {
  display: grid;
}

/* NAV */
.nav-container {
  grid-area: nav;

  display: grid;
  gap: 20px;

  z-index: 1;
  padding: 20px;
  box-shadow: 0 3px 3px var(--shadow);
}

.nav-part2,
.nav-part1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 50px;
}

.shearch {
  flex: 1;

  border-radius: 20px;
  padding: 10px;
  margin-right: 300px;

  background-color: var(--shearch);
  border: none;
}

.nav-part2-profile,
.nav-part1-profile {
  border-radius: 50px;
  margin-right: 10px;
  width: 50px;
}

.nav-part1-name {
  font-weight: bolder;
}

.nav-part2-profile {
  width: 100px;
}

.button:first-of-type {
  margin-left: auto;
}

.button {
  margin: 0px 20px;
  padding: 10px 20px;
  border-radius: 20px;

  background-color: var(--sidebar);
  color: var(--main);
  border: none;

  font-size: 1.3em;

  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

/* BODY */
.body {
  grid-area: body;

  display: grid;
  gap: 15px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "projects announcements" "projects trendings";

  background-color: var(--shearch);
}

.body > div {
  padding: 50px 20px;
}

.title {
  margin-bottom: 15px;
}

/* PROJECTS */
.projects-container {
  grid-area: projects;
}

.projects {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
  background-color: var(--main);
  padding: 20px;
  border-radius: 15px;

  border-left: 10px solid var(--lines);
}

/* ANNOUNCEMENTS */
.announcements-container {
  grid-area: announcements;
}

.announcements {
  display: grid;
  gap: 20px;

  background-color: var(--main);
  padding: 20px;
  border-radius: 15px;
}

/* TRENDINGS */
.trendings-container {
  grid-area: trendings;
}

.trendings {
  display: grid;
  gap: 20px;

  background-color: var(--main);
  padding: 20px;
  border-radius: 15px;
}

.trendings img {
  width: 50px;
}
