:root {
  --main: #fff;
  --shearch: #e2e8f0;
  --letter: #222;
  --sidebar: #1992d4;
  --lines: #f0b429;
  --shadow: #1111112f;

  --hover-effect: 0.7;

  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--letter);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "slidebar nav"
    "slidebar body";
}

/* HOVER-OPACITY */
.shearch:hover,
.nav-part1-profile:hover,
.button:hover,
.announcement:hover,
.project:hover,
.trending:hover {
  opacity: var(--hover-effect);
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas:
      "nav"
      "body";
  }

  .button {
    font-size: 15px;
  }

  .nav-part1 {
    padding: 0;
  }

  .fa-bars {
    opacity: 1;
    cursor: pointer;
    margin-right: 5px;
  }

  .fa-bars:hover {
    color: var(--sidebar);
  }

  .nav-part2 > img,
  .nav-part2 > div {
    display: none;
  }

  .sidebar-container {
    display: none;
  }

  .body {
    grid-template-columns: 1fr;
    grid-template-areas: "projects" "announcements" "trendings";
  }
}
